.rewards-filters {
  display: flex;
  flex-direction: row;
  padding: 20px;

  &__item  {
    flex: 0 1 auto;

    &:not(:last-of-type) {
      padding-right: 20px;
    }
  }

  @media (max-width: 480px) {
    flex-direction: column;

    &__item {
      &:not(:last-of-type) {
        padding-right: 0;
        padding-bottom: 20px;
      }
    }
  }
}
